In [1]:
import pandas as pd
from IPython.core.display import HTML
display(HTML("<style>.container { width:100% !important; } div.prompt {min-width: 10ex;} .rendered_html table { font-size: 11px; }</style>"))

In [2]:
exports_zip = '../data/exp.zip'
imports_zip = '../data/imp.zip'
!zcat $exports_zip | head -n 4
!zcat $imports_zip | head -n 4

"CO_ANO";"CO_MES";"CO_NCM";"CO_UNID";"CO_PAIS";"SG_UF_NCM";"CO_VIA";"CO_URF";"QT_ESTAT";"KG_LIQUIDO";"VL_FOB"
"1997";"02";"84659110";"11";"548";"SP";"01";"0817800";2;1295;4294
"1997";"01";"84798999";"11";"158";"SP";"04";"0817700";6;352;1144
"1997";"01";"84819090";"10";"764";"SP";"04";"0817600";0;0;281

gzip: stdout: Broken pipe
"CO_ANO";"CO_MES";"CO_NCM";"CO_UNID";"CO_PAIS";"SG_UF_NCM";"CO_VIA";"CO_URF";"QT_ESTAT";"KG_LIQUIDO";"VL_FOB"
"1997";"12";"90072090";"11";"399";"AM";"01";"0227600";15;105;7184
"1997";"12";"30062000";"10";"767";"MG";"04";"0617600";6104;4855;563241
"1997";"12";"85331000";"11";"399";"SP";"04";"0817700";1000119;61;11826

gzip: stdout: Broken pipe

In [3]:
def quick_inspect(file_name, size):
    for chunk in pd.read_csv(file_name, delimiter=";", chunksize=size):
        display(chunk.head())
        display(chunk.info())
        return chunk

size = 1000
for zip_file in [exports_zip, imports_zip]:
    chunk = quick_inspect(zip_file, size)

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,1997,2,84659110,11,548,SP,1,817800,2,1295,4294
1,1997,1,84798999,11,158,SP,4,817700,6,352,1144
2,1997,1,84819090,10,764,SP,4,817600,0,0,281
3,1997,2,83111000,10,97,SP,7,145200,0,400,5025
4,1997,2,84829120,10,63,RS,4,1017600,3000,3,360

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_ANO      1000 non-null   int64
 1   CO_MES      1000 non-null   int64
 2   CO_NCM      1000 non-null   int64
 3   CO_UNID     1000 non-null   int64
 4   CO_PAIS     1000 non-null   int64
 5   SG_UF_NCM   1000 non-null   object
 6   CO_VIA      1000 non-null   int64
 7   CO_URF      1000 non-null   int64
 8   QT_ESTAT    1000 non-null   int64
 9   KG_LIQUIDO  1000 non-null   int64
 10  VL_FOB      1000 non-null   int64
dtypes: int64(10), object(1)
memory usage: 86.1+ KB

None

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB
0,1997,12,90072090,11,399,AM,1,227600,15,105,7184
1,1997,12,30062000,10,767,MG,4,617600,6104,4855,563241
2,1997,12,85331000,11,399,SP,4,817700,1000119,61,11826
3,1997,12,84689090,10,249,SP,4,817600,20,20,414
4,1997,12,34049029,10,249,SP,1,817800,2915,1976,11471

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_ANO      1000 non-null   int64
 1   CO_MES      1000 non-null   int64
 2   CO_NCM      1000 non-null   int64
 3   CO_UNID     1000 non-null   int64
 4   CO_PAIS     1000 non-null   int64
 5   SG_UF_NCM   1000 non-null   object
 6   CO_VIA      1000 non-null   int64
 7   CO_URF      1000 non-null   int64
 8   QT_ESTAT    1000 non-null   int64
 9   KG_LIQUIDO  1000 non-null   int64
 10  VL_FOB      1000 non-null   int64
dtypes: int64(10), object(1)
memory usage: 86.1+ KB

None

In [4]:
aux_file = '../data/aux.xlsx'
xls = pd.ExcelFile(aux_file)
print(xls.sheet_names)

['ÍNDICE', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17']

In [5]:
dfs = pd.read_excel(aux_file, sheet_name=None)
dfs['ÍNDICE']

,Número da aba,Nome,Descrição,Arquivo Referência,Chave de cruzamento
0,1,SH - Sistema Harmonizado,Códigos e descrições do Sistema Harmonizado (S...,NCM_SH.csv,CO_SH6
1,2,CUCI - Classificação Uniforme para Comércio In...,Códigos e descrições dos níveis da classificaç...,NCM_CUCI.csv,CO_CUCI
2,3,CGCE - Classificação por Grandes Categorias Ec...,Códigos e descrições dos níveis da classificaç...,NCM_CGCE.csv,CO_CGCE_N3
3,4,ISIC - International Standard Industrial Class...,Códigos e descrições da classificação ISIC (Re...,NCM_ISIC.csv,CO_ISIC_CLASSE
4,5,SIIT - Setores Industriais por Intensidade Tec...,Códigos e descrições da classificação SIIT.,NCM_SIIT.csv,CO_SIIT
5,6,Unidade Estatística da NCM,Códigos e descrições das unidades estatísticas...,NCM_UNIDADE.csv,CO_UNID
6,7,Fator Agregado da NCM - Classificação própria ...,Códigos e descrições de Fator Agregado das NCM...,NCM_FAT_AGREG.csv,CO_FAT_AGREG
7,8,Pauta de Produtos Importados - Classificação p...,Códigos e descrições da Pauta de Produtos Impo...,NCM_PPI.csv,CO_PPI
8,9,Pauta de Produtos Exportados - Classificação p...,Códigos e descrições da Pauta de Produtos Expo...,NCM_PPE.csv,CO_PPE
9,10,Grupo de Produtos- Classificação própria da SECEX,Códigos e descrições de Grupo de Produtos. DEV...,NCM_GRUPO.csv,CO_EXP_SUBSET
10,11,Países,Códigos e descrições de países.,PAIS.csv,CO_PAIS
11,12,Blocos de Países,Códigos e descrições das principais agregações...,PAIS_BLOCO.csv,CO_BLOCO
12,13,Unidades da Federação,Códigos e nome das unidades da federação (esta...,UF.csv,CO_UF ou SG_UF
13,14,Municípios,Códigos e nome dos municípios brasileiros. Pod...,UF_MUN.csv,CO_MUN_GEO
14,15,Via,Código e descrição da via (modal) de transporte,VIA.csv,CO_VIA
15,16,Urf,Código e descrição da Unidade da Receita Feder...,URF.csv,CO_URF
16,17,ISIC Seção x CUCI Grupo,Códigos e descrições dos níveis ISIC e CUCI us...,ISIC_CUCI.csv,CO_CUCI_GRUPO e CO_ISIC_SECAO

In [6]:
for sheet_name in dfs:
    display(dfs[sheet_name].head(3))
    print(dfs[sheet_name].info())

,Número da aba,Nome,Descrição,Arquivo Referência,Chave de cruzamento
0,1,SH - Sistema Harmonizado,Códigos e descrições do Sistema Harmonizado (S...,NCM_SH.csv,CO_SH6
1,2,CUCI - Classificação Uniforme para Comércio In...,Códigos e descrições dos níveis da classificaç...,NCM_CUCI.csv,CO_CUCI
2,3,CGCE - Classificação por Grandes Categorias Ec...,Códigos e descrições dos níveis da classificaç...,NCM_CGCE.csv,CO_CGCE_N3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número da aba        17 non-null     int64
 1   Nome                 17 non-null     object
 2   Descrição            17 non-null     object
 3   Arquivo Referência   17 non-null     object
 4   Chave de cruzamento  17 non-null     object
dtypes: int64(1), object(4)
memory usage: 808.0+ bytes
None

,CO_NCM,NO_NCM_POR,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
0,1011010,Cavalos reprodutores de raça pura,10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",10110,"Animais vivos das espécies cavalar, asinina e ...","Caballos y asnos, reproductores de raza pura",Pure-bred breeding horses and asses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products
2,1011100,"Cavalos reprodutores, de raça pura",10111,"Cavalos reprodutores, de raça pura",Caballos reproductores de raza pura,Pure-bred breeding horses,101,"Cavalos, asininos e muares, vivos","Caballos, asnos, mulos y burdéganos, vivos","Live horses, asses, mules and hinnies",1,Animais vivos,Animales vivos,Live animals,I,Animais vivos e produtos do reino animal,Animales vivos y productos del reino animal,Lives animals; Animal products

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_NCM         13112 non-null  int64
 1   NO_NCM_POR     13112 non-null  object
 2   CO_SH6         13112 non-null  int64
 3   NO_SH6_POR     13112 non-null  object
 4   NO_SH6_ESP     13112 non-null  object
 5   NO_SH6_ING     13112 non-null  object
 6   CO_SH4         13112 non-null  int64
 7   NO_SH4_POR     13112 non-null  object
 8   NO_SH4_ESP     13112 non-null  object
 9   NO_SH4_ING     13112 non-null  object
 10  CO_SH2         13112 non-null  int64
 11  NO_SH2_POR     13112 non-null  object
 12  NO_SH2_ESP     13112 non-null  object
 13  NO_SH2_ING     13112 non-null  object
 14  CO_NCM_SECROM  13112 non-null  object
 15  NO_SEC_POR     13112 non-null  object
 16  NO_SEC_ESP     13112 non-null  object
 17  NO_SEC_ING     13112 non-null  object
dtypes: int64(4), object(14)
memory usage: 1.8+ MB
None

,CO_NCM,NO_NCM_POR,CO_CUCI_ITEM,NO_CUCI_ITEM,CO_CUCI_SUB,NO_CUCI_SUB,CO_CUCI_GRUPO,NO_CUCI_GRUPO,CO_CUCI_DIVISAO,NO_CUCI_DIVISAO,CO_CUCI_SEC,NO_CUCI_SEC
0,1011010,Cavalos reprodutores de raça pura,0015,"Cavalos, asnos, mulas e burros vivos",15,"Cavalos, asnos, mulas e burros vivos",001,"Animais vivos, não incluído pescados ou crustá...",0,Animais vivos não incluídos no capítulo 03,0,PRODUTOS ALIMENTICIOS E ANIMAIS VIVOS
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",0015,"Cavalos, asnos, mulas e burros vivos",15,"Cavalos, asnos, mulas e burros vivos",001,"Animais vivos, não incluído pescados ou crustá...",0,Animais vivos não incluídos no capítulo 03,0,PRODUTOS ALIMENTICIOS E ANIMAIS VIVOS
2,1011100,"Cavalos reprodutores, de raça pura",0015,"Cavalos, asnos, mulas e burros vivos",15,"Cavalos, asnos, mulas e burros vivos",001,"Animais vivos, não incluído pescados ou crustá...",0,Animais vivos não incluídos no capítulo 03,0,PRODUTOS ALIMENTICIOS E ANIMAIS VIVOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CO_NCM           13112 non-null  int64
 1   NO_NCM_POR       13112 non-null  object
 2   CO_CUCI_ITEM     13112 non-null  object
 3   NO_CUCI_ITEM     13112 non-null  object
 4   CO_CUCI_SUB      13112 non-null  int64
 5   NO_CUCI_SUB      13112 non-null  object
 6   CO_CUCI_GRUPO    13112 non-null  object
 7   NO_CUCI_GRUPO    13112 non-null  object
 8   CO_CUCI_DIVISAO  13112 non-null  int64
 9   NO_CUCI_DIVISAO  13112 non-null  object
 10  CO_CUCI_SEC      13112 non-null  int64
 11  NO_CUCI_SEC      13112 non-null  object
dtypes: int64(4), object(8)
memory usage: 1.2+ MB
None

,CO_NCM,NO_NCM_POR,CO_CGCE_N3,NO_CGCE_N3,NO_CGCE_N3_ING,NO_CGCE_N3_ESP,CO_CGCE_N2,NO_CGCE_N2,NO_CGCE_N2_ING,NO_CGCE_N2_ESP,CO_CGCE_N1,NO_CGCE_N1,NO_CGCE_N1_ING,NO_CGCE_N1_ESP
0,1011010,Cavalos reprodutores de raça pura,110,Bens de capital (exceto equipamentos de transp...,"Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",11,"Bens de capital, exceto equipamentos de transp...","Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",1,BENS DE CAPITAL (BK),CAPITAL GOODS (BK),BIENES DE CAPITAL (BK)
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",110,Bens de capital (exceto equipamentos de transp...,"Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",11,"Bens de capital, exceto equipamentos de transp...","Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",1,BENS DE CAPITAL (BK),CAPITAL GOODS (BK),BIENES DE CAPITAL (BK)
2,1011100,"Cavalos reprodutores, de raça pura",110,Bens de capital (exceto equipamentos de transp...,"Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",11,"Bens de capital, exceto equipamentos de transp...","Capital goods, except industrial transport equ...","Bienes de capital, excepto equipo de transport...",1,BENS DE CAPITAL (BK),CAPITAL GOODS (BK),BIENES DE CAPITAL (BK)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO_NCM          13112 non-null  int64
 1   NO_NCM_POR      13112 non-null  object
 2   CO_CGCE_N3      13112 non-null  int64
 3   NO_CGCE_N3      13112 non-null  object
 4   NO_CGCE_N3_ING  13112 non-null  object
 5   NO_CGCE_N3_ESP  13112 non-null  object
 6   CO_CGCE_N2      13112 non-null  int64
 7   NO_CGCE_N2      13112 non-null  object
 8   NO_CGCE_N2_ING  13112 non-null  object
 9   NO_CGCE_N2_ESP  13112 non-null  object
 10  CO_CGCE_N1      13112 non-null  int64
 11  NO_CGCE_N1      13112 non-null  object
 12  NO_CGCE_N1_ING  13112 non-null  object
 13  NO_CGCE_N1_ESP  13112 non-null  object
dtypes: int64(4), object(10)
memory usage: 1.4+ MB
None

,CO_NCM,NO_NCM_POR,CO_ISIC_CLASSE,NO_ISIC_CLASSE,NO_ISIC_CLASSE_ING,NO_ISIC_CLASSE_ESP,CO_ISIC_GRUPO,NO_ISIC_GRUPO,NO_ISIC_GRUPO_ING,NO_ISIC_GRUPO_ESP,CO_ISIC_DIVISAO,NO_ISIC_DIVISAO,NO_ISIC_DIVISAO_ING,NO_ISIC_DIVISAO_ESP,CO_ISIC_SECAO,NO_ISIC_SECAO,NO_ISIC_SECAO_ING,NO_ISIC_SECAO_ESP
0,1011010,Cavalos reprodutores de raça pura,142,Criação de cavalos e outros equinos,Raising of horses and other equines,Criação de cavalos e outros equinos,14,Produção animal,Animal production,Produção animal,1,"Produção vegetal, animal e caça","Crop and animal production, hunting and relate...","Produção vegetal, animal e caça",A,Agropecuária,"Agriculture, forestry and fishing",Agropecuária
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",142,Criação de cavalos e outros equinos,Raising of horses and other equines,Criação de cavalos e outros equinos,14,Produção animal,Animal production,Produção animal,1,"Produção vegetal, animal e caça","Crop and animal production, hunting and relate...","Produção vegetal, animal e caça",A,Agropecuária,"Agriculture, forestry and fishing",Agropecuária
2,1011100,"Cavalos reprodutores, de raça pura",142,Criação de cavalos e outros equinos,Raising of horses and other equines,Criação de cavalos e outros equinos,14,Produção animal,Animal production,Produção animal,1,"Produção vegetal, animal e caça","Crop and animal production, hunting and relate...","Produção vegetal, animal e caça",A,Agropecuária,"Agriculture, forestry and fishing",Agropecuária

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CO_NCM               13112 non-null  int64
 1   NO_NCM_POR           13112 non-null  object
 2   CO_ISIC_CLASSE       13112 non-null  int64
 3   NO_ISIC_CLASSE       13112 non-null  object
 4   NO_ISIC_CLASSE_ING   13112 non-null  object
 5   NO_ISIC_CLASSE_ESP   13112 non-null  object
 6   CO_ISIC_GRUPO        13112 non-null  int64
 7   NO_ISIC_GRUPO        13112 non-null  object
 8   NO_ISIC_GRUPO_ING    13112 non-null  object
 9   NO_ISIC_GRUPO_ESP    13112 non-null  object
 10  CO_ISIC_DIVISAO      13112 non-null  int64
 11  NO_ISIC_DIVISAO      13112 non-null  object
 12  NO_ISIC_DIVISAO_ING  13112 non-null  object
 13  NO_ISIC_DIVISAO_ESP  13112 non-null  object
 14  CO_ISIC_SECAO        13112 non-null  object
 15  NO_ISIC_SECAO        13112 non-null  object
 16  NO_ISIC_SECAO_ING    13112 non-null  object
 17  NO_ISIC_SECAO_ESP    13112 non-null  object
dtypes: int64(4), object(14)
memory usage: 1.8+ MB
None

,CO_NCM,NO_NCM_POR,CO_SIIT,NO_SIIT
0,1011010,Cavalos reprodutores de raça pura,9000,PRODUTOS N.C.I.T
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",9000,PRODUTOS N.C.I.T
2,1011100,"Cavalos reprodutores, de raça pura",9000,PRODUTOS N.C.I.T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_SIIT     13112 non-null  int64
 3   NO_SIIT     13112 non-null  object
dtypes: int64(2), object(2)
memory usage: 409.9+ KB
None

,CO_NCM,NO_NCM_POR,CO_UNID,NO_UNID,SG_UNID
0,1011010,Cavalos reprodutores de raça pura,11,NUMERO (UNIDADE),UNID.
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",11,NUMERO (UNIDADE),UNID.
2,1011100,"Cavalos reprodutores, de raça pura",11,NUMERO (UNIDADE),UNID.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_UNID     13112 non-null  int64
 3   NO_UNID     13112 non-null  object
 4   SG_UNID     13112 non-null  object
dtypes: int64(2), object(3)
memory usage: 512.3+ KB
None

,CO_NCM,NO_NCM_POR,CO_FAT_AGREG,NO_FAT_AGREG,NO_FAT_AGREG_GP
0,1011010,Cavalos reprodutores de raça pura,1,PRODUTOS BASICOS,PRODUTOS BASICOS
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",1,PRODUTOS BASICOS,PRODUTOS BASICOS
2,1011100,"Cavalos reprodutores, de raça pura",1,PRODUTOS BASICOS,PRODUTOS BASICOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CO_NCM           13112 non-null  int64
 1   NO_NCM_POR       13112 non-null  object
 2   CO_FAT_AGREG     13112 non-null  int64
 3   NO_FAT_AGREG     13112 non-null  object
 4   NO_FAT_AGREG_GP  13112 non-null  object
dtypes: int64(2), object(3)
memory usage: 512.3+ KB
None

,CO_NCM,NO_NCM_POR,CO_PPI,NO_PPI,NO_PPI_MIN,NO_PPI_ING
0,1011010,Cavalos reprodutores de raça pura,1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS
2,1011100,"Cavalos reprodutores, de raça pura",1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_PPI      13112 non-null  int64
 3   NO_PPI      13112 non-null  object
 4   NO_PPI_MIN  13112 non-null  object
 5   NO_PPI_ING  13112 non-null  object
dtypes: int64(2), object(4)
memory usage: 614.8+ KB
None

,CO_NCM,NO_NCM_POR,CO_PPE,NO_PPE,NO_PPE_MIN,NO_PPE_ING
0,1011010,Cavalos reprodutores de raça pura,1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS
2,1011100,"Cavalos reprodutores, de raça pura",1990,DEMAIS PRODUTOS BASICOS,Demais produtos básicos,OTHER BASIC GOODS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_PPE      13112 non-null  int64
 3   NO_PPE      13112 non-null  object
 4   NO_PPE_MIN  13112 non-null  object
 5   NO_PPE_ING  13112 non-null  object
dtypes: int64(2), object(4)
memory usage: 614.8+ KB
None

,CO_NCM,NO_NCM_POR,CO_EXP_SUBSET,NO_EXP_SUBSET_POR,NO_EXP_SUBSET_ESP,NO_EXP_SUBSET_ING,CO_EXP_SET,NO_EXP_SET,NO_EXP_SET_ESP,NO_EXP_SET_ING
0,1011010,Cavalos reprodutores de raça pura,8099,Demais produtos,Otros productos,Other products,80,DEMAIS PRODUTOS,Otros productos,Other products
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",8099,Demais produtos,Otros productos,Other products,80,DEMAIS PRODUTOS,Otros productos,Other products
2,1011100,"Cavalos reprodutores, de raça pura",8099,Demais produtos,Otros productos,Other products,80,DEMAIS PRODUTOS,Otros productos,Other products

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13111 entries, 0 to 13110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CO_NCM             13111 non-null  int64
 1   NO_NCM_POR         13111 non-null  object
 2   CO_EXP_SUBSET      13111 non-null  int64
 3   NO_EXP_SUBSET_POR  13111 non-null  object
 4   NO_EXP_SUBSET_ESP  13111 non-null  object
 5   NO_EXP_SUBSET_ING  13111 non-null  object
 6   CO_EXP_SET         13111 non-null  int64
 7   NO_EXP_SET         13111 non-null  object
 8   NO_EXP_SET_ESP     13111 non-null  object
 9   NO_EXP_SET_ING     13111 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.0+ MB
None

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_PAIS        281 non-null    int64
 1   CO_PAIS_ISON3  281 non-null    int64
 2   CO_PAIS_ISOA3  281 non-null    object
 3   NO_PAIS        281 non-null    object
 4   NO_PAIS_ING    281 non-null    object
 5   NO_PAIS_ESP    281 non-null    object
dtypes: int64(2), object(4)
memory usage: 13.3+ KB
None

,CO_PAIS,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
0,788,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
1,525,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
2,229,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CO_PAIS       322 non-null    int64
 1   CO_BLOCO      322 non-null    int64
 2   NO_BLOCO      322 non-null    object
 3   NO_BLOCO_ING  322 non-null    object
 4   NO_BLOCO_ESP  322 non-null    object
dtypes: int64(2), object(3)
memory usage: 12.7+ KB
None

   CO_UF SG_UF     NO_UF     NO_REGIAO
0     11    RO  Rondônia  REGIAO NORTE
1     12    AC      Acre  REGIAO NORTE
2     13    AM  Amazonas  REGIAO NORTE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CO_UF      34 non-null     int64
 1   SG_UF      34 non-null     object
 2   NO_UF      34 non-null     object
 3   NO_REGIAO  34 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB
None

   CO_MUN_GEO                   NO_MUN               NO_MUN_MIN SG_UF
0     1718899  SANTA RITA DO TOCANTINS  Santa Rita do Tocantins    TO
1     1718907  SANTA ROSA DO TOCANTINS  Santa Rosa do Tocantins    TO
2     1100015    ALTA FLORESTA D'OESTE    Alta Floresta D'Oeste    RO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_MUN_GEO  5570 non-null   int64
 1   NO_MUN      5570 non-null   object
 2   NO_MUN_MIN  5570 non-null   object
 3   SG_UF       5570 non-null   object
dtypes: int64(1), object(3)
memory usage: 174.2+ KB
None

   CO_VIA            NO_VIA
0      99  VIA DESCONHECIDA
1      13       POR REBOQUE
2      11           COURIER

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CO_VIA  17 non-null     int64
 1   NO_VIA  17 non-null     object
dtypes: int64(1), object(1)
memory usage: 400.0+ bytes
None

   CO_URF                                             NO_URF
0     910  0000910 - SEFAZ-SC - CONVENIO CONSULTA SISTEMA...
1  110100                                 0110100 - BRASILIA
2  117600      0117600 - AEROPORTO INTERNACIONAL DE BRASILIA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CO_URF  275 non-null    int64
 1   NO_URF  275 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.4+ KB
None

,CO_NCM,NO_NCM_POR,CO_ISIC_SECAO,NO_ISIC_SECAO,CO_CUCI_GRUPO,NO_CUCI_GRUPO
0,1011010,Cavalos reprodutores de raça pura,A,Agropecuária,001,"Animais vivos, não incluído pescados ou crustá..."
1,1011090,"Animais da espécie asinina/muar, reprodutores,...",A,Agropecuária,001,"Animais vivos, não incluído pescados ou crustá..."
2,1011100,"Cavalos reprodutores, de raça pura",A,Agropecuária,001,"Animais vivos, não incluído pescados ou crustá..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_NCM         13112 non-null  int64
 1   NO_NCM_POR     13112 non-null  object
 2   CO_ISIC_SECAO  13112 non-null  object
 3   NO_ISIC_SECAO  13112 non-null  object
 4   CO_CUCI_GRUPO  13112 non-null  object
 5   NO_CUCI_GRUPO  13112 non-null  object
dtypes: int64(1), object(5)
memory usage: 614.8+ KB
None