# Índice
1. [Configuração](#Configuração)
2. [Inspeção dos dados brutos](#Inspeção-dos-dados-brutos)
3. [Inspeção dos arquivos principais](#Inspeção-dos-arquivos-principais)
4. [Inspeção dos arquivos auxiliares](#Inspeção-dos-arquivos-auxiliares)

# Configuração

In [1]:
import pandas as pd
import sys
from IPython.core.display import HTML

pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 300)
display(HTML("<style>.container { width:100% !important; } div.prompt {min-width: 10ex;} .rendered_html table { font-size: 11px; }</style>"))

## Inspeção dos dados brutos

Estas são as primeiras linhas do arquivo CSV referente às exportações:

In [2]:
exports_zip = '../data/EXP_COMPLETA.zip'
!zcat $exports_zip | head -n 4

gzip: stdout: Broken pipe

No caso das importações, as primeiras linhas do CSV são assim:

In [3]:
imports_zip = '../data/IMP_COMPLETA.zip'
!zcat $imports_zip | head -n 4

gzip: stdout: Broken pipe

## Inspeção dos arquivos principais completos

In [4]:
def read_file_in_chunks(file_name, verbose=False, chunksize=1000000):
    grouped_chunks = []
    if verbose:
        sys.stderr.write('Reading file in chunks of {} lines'.format(chunksize))
        sys.stderr.flush()
    # TODO: Load only the columns needed, with usecols=['foo', 'bar']
    for chunk in pd.read_csv(file_name, delimiter=";", chunksize=chunksize):
        if verbose:
            sys.stderr.write('.')
            sys.stderr.flush()
        grouped_chunks.append(chunk)
    if verbose:
        sys.stderr.write('\nConcatenating {} chunks\n'.format(
                         len(grouped_chunks)))
        sys.stderr.flush()
    return pd.concat(grouped_chunks)

In [5]:
df_exp = read_file_in_chunks(exports_zip, verbose=True)

Reading file in chunks of 1000000 lines.......................
Concatenating 23 chunks

In [6]:
df_exp.sample(5)

          CO_ANO  CO_MES    CO_NCM  CO_UNID  CO_PAIS SG_UF_NCM  CO_VIA  CO_URF  QT_ESTAT  KG_LIQUIDO  VL_FOB
12053358    2011      11  84159090       10      670        MG       1  917800      1044        1044   37328
22184630    2020       9  39269090       10      623        SP       1  917800         0           0       8
6019060     2005      10  84249090       10      687        SP       1  817800         1           1       7
21180250    2019       9  84669490       10       63        SP       4  817600       260         260   19978
9610457     2009      11  85392990       11      589        SP       4  817600        20           2      97

In [7]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22648636 entries, 0 to 22648635
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   CO_NCM      int64
 3   CO_UNID     int64
 4   CO_PAIS     int64
 5   SG_UF_NCM   object
 6   CO_VIA      int64
 7   CO_URF      int64
 8   QT_ESTAT    int64
 9   KG_LIQUIDO  int64
 10  VL_FOB      int64
dtypes: int64(10), object(1)
memory usage: 1.9+ GB

In [8]:
def fix_dtypes(df):
    # Store categorical columns as such, reducing the memory usage
    # for the exports file from 1.9+ GB to 1.0 GB
    for col in df.columns[2:-3]:
        df[col]=df[col].astype('category')
    return df

In [9]:
df_exp = fix_dtypes(df_exp)
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22648636 entries, 0 to 22648635
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   CO_NCM      category
 3   CO_UNID     category
 4   CO_PAIS     category
 5   SG_UF_NCM   category
 6   CO_VIA      category
 7   CO_URF      category
 8   QT_ESTAT    int64
 9   KG_LIQUIDO  int64
 10  VL_FOB      int64
dtypes: category(6), int64(5)
memory usage: 1.0 GB

In [10]:
df_exp.describe(include='category')

          CO_NCM   CO_UNID   CO_PAIS SG_UF_NCM    CO_VIA    CO_URF
count   22648636  22648636  22648636  22648636  22648636  22648636
unique     11713        13       264        32        14       266
top     87089990        10        63        SP         1    817800
freq      134984  13534129   2091032   9216997   8614909   5022913

In [11]:
df_exp.describe(exclude='category')

             CO_ANO        CO_MES      QT_ESTAT    KG_LIQUIDO        VL_FOB
count  2.264864e+07  2.264864e+07  2.264864e+07  2.264864e+07  2.264864e+07
mean   2.009973e+03  6.599953e+00  6.147536e+05  4.863214e+05  1.609096e+05
std    6.504889e+00  3.384929e+00  4.847814e+08  2.709977e+07  3.224087e+06
min    1.997000e+03  1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.005000e+03  4.000000e+00  1.000000e+00  7.000000e+00  2.640000e+02
50%    2.010000e+03  7.000000e+00  2.300000e+01  1.120000e+02  2.292000e+03
75%    2.016000e+03  9.000000e+00  5.400000e+02  3.225000e+03  2.060300e+04
max    2.020000e+03  1.200000e+01  9.908988e+11  1.775019e+10  1.936700e+09

In [12]:
df_imp = read_file_in_chunks(imports_zip, verbose=True)

Reading file in chunks of 1000000 lines..................................
Concatenating 34 chunks

In [13]:
df_imp.sample(5)

          CO_ANO  CO_MES    CO_NCM  CO_UNID  CO_PAIS SG_UF_NCM  CO_VIA  CO_URF  QT_ESTAT  KG_LIQUIDO  VL_FOB
6796570     2004       9  96151100       10      160        PR       1  910700      1999        1999    1815
10305048    2007       5  84716061       11      160        SP       4  817600         5           8    1475
26281716    2016       8  85389090       10       72        MG       1  817800       257         257    3967
31362195    2019       6  84831019       11      249        PR       1  917800         6          24     666
32465808    2019      11  30029092       10      628        SC       4  817700        51          51    8932

In [14]:
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33783634 entries, 0 to 33783633
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   CO_NCM      int64
 3   CO_UNID     int64
 4   CO_PAIS     int64
 5   SG_UF_NCM   object
 6   CO_VIA      int64
 7   CO_URF      int64
 8   QT_ESTAT    int64
 9   KG_LIQUIDO  int64
 10  VL_FOB      int64
dtypes: int64(10), object(1)
memory usage: 2.8+ GB

In [15]:
df_imp = fix_dtypes(df_imp)
df_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33783634 entries, 0 to 33783633
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   CO_ANO      int64
 1   CO_MES      int64
 2   CO_NCM      category
 3   CO_UNID     category
 4   CO_PAIS     category
 5   SG_UF_NCM   category
 6   CO_VIA      category
 7   CO_URF      category
 8   QT_ESTAT    int64
 9   KG_LIQUIDO  int64
 10  VL_FOB      int64
dtypes: category(6), int64(5)
memory usage: 1.5 GB

In [16]:
df_exp.describe(include='category')

          CO_NCM   CO_UNID   CO_PAIS SG_UF_NCM    CO_VIA    CO_URF
count   22648636  22648636  22648636  22648636  22648636  22648636
unique     11713        13       264        32        14       266
top     87089990        10        63        SP         1    817800
freq      134984  13534129   2091032   9216997   8614909   5022913

In [17]:
df_exp.describe(exclude='category')

             CO_ANO        CO_MES      QT_ESTAT    KG_LIQUIDO        VL_FOB
count  2.264864e+07  2.264864e+07  2.264864e+07  2.264864e+07  2.264864e+07
mean   2.009973e+03  6.599953e+00  6.147536e+05  4.863214e+05  1.609096e+05
std    6.504889e+00  3.384929e+00  4.847814e+08  2.709977e+07  3.224087e+06
min    1.997000e+03  1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.005000e+03  4.000000e+00  1.000000e+00  7.000000e+00  2.640000e+02
50%    2.010000e+03  7.000000e+00  2.300000e+01  1.120000e+02  2.292000e+03
75%    2.016000e+03  9.000000e+00  5.400000e+02  3.225000e+03  2.060300e+04
max    2.020000e+03  1.200000e+01  9.908988e+11  1.775019e+10  1.936700e+09

## Inspeção dos arquivos auxiliares

In [18]:
aux_file = '../data/TABELAS_AUXILIARES.xlsx'
xls = pd.ExcelFile(aux_file)
print(xls.sheet_names)

['ÍNDICE', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17']

In [19]:
dfs = pd.read_excel(aux_file, sheet_name=None)
dfs['ÍNDICE']

    Número da aba                                                                           Nome                                                                                                                                                                                                   Descrição Arquivo Referência            Chave de cruzamento
0               1                                                       SH - Sistema Harmonizado                                                                                                        Códigos e descrições do Sistema Harmonizado (Seções, Capítulos-SH2, Posições-SH4 e Subposições-SH6).         NCM_SH.csv                         CO_SH6
1               2                      CUCI - Classificação Uniforme para Comércio Internacional                                                                                               Códigos e descrições dos níveis da classificação CUCI (Revisão 4). Pode ser utilizada conjuntamente com ISIC.       NCM_CUCI.csv                        CO_CUCI
2               3                         CGCE - Classificação por Grandes Categorias Econômicas                                                                                                                                                      Códigos e descrições dos níveis da classificação CGCE.       NCM_CGCE.csv                     CO_CGCE_N3
3               4  ISIC - International Standard Industrial Classification (Setores Industriais)                                                                                                                                                     Códigos e descrições da classificação ISIC (Revisão 4).       NCM_ISIC.csv                 CO_ISIC_CLASSE
4               5                         SIIT - Setores Industriais por Intensidade Tecnológica                                                                                                                                                                 Códigos e descrições da classificação SIIT.       NCM_SIIT.csv                        CO_SIIT
5               6                                                     Unidade Estatística da NCM                                                                                                                                                    Códigos e descrições das unidades estatísticas das NCMs.    NCM_UNIDADE.csv                        CO_UNID
6               7                         Fator Agregado da NCM - Classificação própria da SECEX                                                                                               Códigos e descrições de Fator Agregado das NCMs. Pode ser utilizada conjuntamente com a tabela de PPI ou PPE.  NCM_FAT_AGREG.csv                   CO_FAT_AGREG
7               8                  Pauta de Produtos Importados - Classificação própria da SECEX                                                                                                            Códigos e descrições da Pauta de Produtos Importados. DEVE SER UTILIZADA APENAS PARA IMPORTAÇÃO.        NCM_PPI.csv                         CO_PPI
8               9                  Pauta de Produtos Exportados - Classificação própria da SECEX                                                                                                            Códigos e descrições da Pauta de Produtos Exportados. DEVE SER UTILIZADA APENAS PARA EXPORTAÇÃO.        NCM_PPE.csv                         CO_PPE
9              10                              Grupo de Produtos- Classificação própria da SECEX                                                                                                                       Códigos e descrições de Grupo de Produtos. DEVE SER UTILIZADA APENAS PARA EXPORTAÇÃO.      NCM_GRUPO.csv                  CO_EXP_SUBSET
10             11                                                                         Países                                                                                                                                                                             Códigos e descrições de países.           PAIS.csv                        CO_PAIS
11             12                                                               Blocos de Países                                                                                       Códigos e descrições das principais agregações de países em blocos. Deve ser usada em cojunto com a tabela de países.     PAIS_BLOCO.csv                       CO_BLOCO
12             13                                                          Unidades da Federação                                                                                                                                               Códigos e nome das unidades da federação (estados) do Brasil.             UF.csv                 CO_UF ou SG_UF
13             14                                                                     Municípios  Códigos e nome dos municípios brasileiros. Pode ser utilizada em conjunto com a tabela de UF. Fundamental para utilização junto com o arquivo de dados brutos por municípios domicílio fiscal das empresas         UF_MUN.csv                     CO_MUN_GEO
14             15                                                                            Via                                                                                                                                                             Código e descrição da via (modal) de transporte            VIA.csv                         CO_VIA
15             16                                                                            Urf                  Código e descrição da Unidade da Receita Federal (embarque/despacho) mais detalhes em: http://idg.receita.fazenda.gov.br/orientacao/aduaneira/importacao-e-exportacao/recinto-alfandegados            URF.csv                         CO_URF
16             17                                                        ISIC Seção x CUCI Grupo                                                                                             Códigos e descrições dos níveis ISIC e CUCI usados na coletiva de apresentação da balança comercial brasileira.      ISIC_CUCI.csv  CO_CUCI_GRUPO e CO_ISIC_SECAO

In [20]:
for i, sheet_name in enumerate(dfs):
    print('{}:\t{}'.format(sheet_name, dfs[sheet_name].shape))

ÍNDICE:	(17, 5)
1:	(13112, 18)
2:	(13112, 12)
3:	(13112, 14)
4:	(13112, 18)
5:	(13112, 4)
6:	(13112, 5)
7:	(13112, 5)
8:	(13112, 6)
9:	(13112, 6)
10:	(13111, 10)
11:	(281, 6)
12:	(322, 5)
13:	(34, 4)
14:	(5570, 4)
15:	(17, 2)
16:	(275, 2)
17:	(13112, 6)

In [21]:
for sheet_name in dfs:
    print('== Sheet "{}" =='.format(sheet_name))
    display(dfs[sheet_name].sample(5))
    print(dfs[sheet_name].info())

== Sheet "ÍNDICE" ==

    Número da aba                                                           Nome                                                                                                                                                                                   Descrição Arquivo Referência            Chave de cruzamento
15             16                                                            Urf  Código e descrição da Unidade da Receita Federal (embarque/despacho) mais detalhes em: http://idg.receita.fazenda.gov.br/orientacao/aduaneira/importacao-e-exportacao/recinto-alfandegados            URF.csv                         CO_URF
8               9  Pauta de Produtos Exportados - Classificação própria da SECEX                                                                                            Códigos e descrições da Pauta de Produtos Exportados. DEVE SER UTILIZADA APENAS PARA EXPORTAÇÃO.        NCM_PPE.csv                         CO_PPE
11             12                                               Blocos de Países                                                                       Códigos e descrições das principais agregações de países em blocos. Deve ser usada em cojunto com a tabela de países.     PAIS_BLOCO.csv                       CO_BLOCO
6               7         Fator Agregado da NCM - Classificação própria da SECEX                                                                               Códigos e descrições de Fator Agregado das NCMs. Pode ser utilizada conjuntamente com a tabela de PPI ou PPE.  NCM_FAT_AGREG.csv                   CO_FAT_AGREG
16             17                                        ISIC Seção x CUCI Grupo                                                                             Códigos e descrições dos níveis ISIC e CUCI usados na coletiva de apresentação da balança comercial brasileira.      ISIC_CUCI.csv  CO_CUCI_GRUPO e CO_ISIC_SECAO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número da aba        17 non-null     int64
 1   Nome                 17 non-null     object
 2   Descrição            17 non-null     object
 3   Arquivo Referência   17 non-null     object
 4   Chave de cruzamento  17 non-null     object
dtypes: int64(1), object(4)
memory usage: 808.0+ bytes
None
== Sheet "1" ==

,CO_NCM,NO_NCM_POR,CO_SH6,NO_SH6_POR,NO_SH6_ESP,NO_SH6_ING,CO_SH4,NO_SH4_POR,NO_SH4_ESP,NO_SH4_ING,CO_SH2,NO_SH2_POR,NO_SH2_ESP,NO_SH2_ING,CO_NCM_SECROM,NO_SEC_POR,NO_SEC_ESP,NO_SEC_ING
8018,60053600,"Outros tecidos de malha-urdidura (incluindo os fabricados em teares para galões), exceto os das posições 60.01 a 60.04, de fibras sintéticas, crus ou branqueados",600536,"Outros tecidos de malha-urdidura (incluindo os fabricados em teares para galões), exceto os das posições 60.01 a 60.04, de fibras sintéticas, crus ou branqueados","Los demás tejidos de punto por urdimbre (incluidos los obtenidos en telares de pasamanería), excepto los de las partidas 60.01 a 60.04, de fibras sintéticas, crudos o blanqueados","Other warp knit fabrics (including those made on galloon knitting machines), other than those of headings 6001 to 6004, of synthetic fibers, unbleached or bleached",6005,"Tecidos de malha-urdidura (incluídos os fabricados em teares para galões), exceto das posições 6001 a 6004","Tejidos de punto por urdimbre, incluidos los obtenidos en telares de pasamanería (excepto los de las partidas 6001 a 6004)","Warp knit fabrics (including those made on galloon knitting machines), other than those of headings 6001 to 6004",60,Tecidos de malha,Tejidos de punto,Lnitted or crocheted fabrics,XI,Matérias têxteis e suas obras,Materias textiles y sus manufacturas,Textiles and textiles articles
1685,23099040,"Preparações que contenham Diclazuril, dos tipos utilizados na alimentação de animais",230990,Outras preparações para alimentação de animais,"Preparaciones de los tipos utilizados para la alimentación de los animales (exc. alimentos para perros o gatos, acondicionados para la venta al por menor)",Preparations of a kind used in animal feeding (excl. dog or cat food put up for retail sale),2309,Preparações dos tipos utilizados na alimentação de animais,Preparaciones del tipo de las utilizadas para la alimentación de los animales,Preparations of a kind used in animal feeding,23,Resíduos e desperdícios das indústrias alimentares; alimentos preparados para animais,Residuos y desperdicios de las industrias alimentarias; otros.,Residues and waste from the food industries; others,IV,"Produtos das indútrias alimentares; Bebidas, líquidos alcoólicos e vinagres; Tabaco e seus sucedâneos manufaturados","Productos de las industrias alimentarias; Bebidas, líquidos alcohólicos y vingagre; Tabaco y sucedáneos del tabaco elaborados","Prepared foodstuffs, beverages, spirits and vinegar, tobacco and manufactured tobacco substitutes"
7882,58019000,"Veludos e pelúcias, tecido, de outras matérias têxteis",580190,"Veludos e pelúcias, tecidos, de outras matérias têxteis","Terciopelo y felpa y tejidos de chenilla (exc. de fibras sintéticas o artificiales, de lana o pelo fino, así como los de punto, con bucles para toallas, superficies textiles con pelo insertado y cintas de la partida 5806)","Woven pile fabrics and chenille fabrics (excl. those of man-made fibres, wool or fine animal hair, terry towelling and similar woven terry fabrics, tufted textile fabrics and narrow woven fabrics of heading 5806)",5801,"Veludos e pelúcias tecidos e tecidos de froco (chenille), exceto os artefactos das posições 5802 ou 5806","Terciopelo y felpa (excepto los de punto), y tejidos de chenilla (excepto los productos de las partidas 5802 o 5806)","Woven pile fabrics and chenille fabrics, other than fabrics of heading 5802 or 5806",58,Tecidos especiais; tecidos tufados; rendas; tapeçarias; passamanarias; bordados.,Tejidos especiales; superficies textiles con mechón insertado; encajes; tapicería; otros.,Special woven fabrics; tufted textile fabrics; lace; tapestries; others,XI,Matérias têxteis e suas obras,Materias textiles y sus manufacturas,Textiles and textiles articles
12399,90138010,Dispositivos de cristais líquidos (LCD),901380,Outros dispositivos de cristais líquidos e outros aparelhos e instrumentos ópticos,"Dispositivos de cristal líquido, n.c.o.p. y los demás instrumentos e aparatos de óptica de este capítulo, n.c.o.p.","Liquid crystal devices, n.e.s. and other optical appliances and instruments not elsewhere specified in chapter 90",9013,"Dispositivos de cristais líquidos que não constituam artigos compreendidos mais especificamente em outras posições; lasers, exceto díodos laser; outros aparelhos e instrumentos de óptica, não especificados nem compreendidos em outras posições do presente","Dispositivos de cristal líquido que no constituyan artículos comprendidos más específicamente en otra parte; láseres (excepto los diodos láser); los demás aparatos e instrumentos de óptica, no expresados ni comprendidos en otra parte de este capítulo","Liquid crystal devices not constituting articles provided for more specifically in other headings; lasers, other than laser diodes; other optical appliances and instruments, not specified or included elsewhere in this chapter",90,"Instrumentos e aparelhos de óptica, de fotografia, de cinematografia, de medida, de controle ou de precisão; instrumentos e aparelhos médico-cirúrgicos; suas partes e acessórios","Instrumentos y aparatos de óptica, fotografía o cinematografía, otros.","Optical, photographic, cinematographic instruments; others",XVIII,"Instrumentos e aparelhos de ótica, fotografia ou cinematografia, medida, controle ou de precisão; Instrumentos e aparelhos médico-cirúrgicos; Relógios e aparelhos semelhantes; Instrumentos musicais; Suas partes e acessórios","Instrumentos y aparatos de óptica, fotografía o cinematografía, de medida, control o precisión; Instrumentos y aparatos medicoquirúrgicos; Aparatos de relojería; Instrumentos musicales; Partes e accesorios de estos instrumentos o aparatos","Optical, photographic, cinematographic, measuring, checking, precision, medical or surgical instruments and apparatus; Clocks and watches; Musical instruments; Part and accessories thereof"
7622,55095100,"Fio de fibras de poliésteres, combinadas, principal ou unicamente, com fibras artificiais descontínuas",550951,"Fios de fibras descontínuas de poliéster combinadas com fibras artificiais descontínuas, não para venda a retalho","Hilados con un alto contenido de fibras discontinuas de poliéster, pero < 85% en peso, mezclados exclusiva o principalmente con fibras artificiales discontinuas (exc. acondicionados para la venta al por menor, así como los hilos de coser)","Yarn containing predominantly, but < 85% polyester staple fibres by weight, mixed principally or solely with artificial staple fibres (excl. sewing thread and yarn put up for retail sale)",5509,"Fios de fibras sintéticas descontínuas (exceto linhas para costurar), não acondicionados para venda a retalho",Hilados de fibras sintéticas discontinuas (excepto el hilo de coser) sin acondicionar para la venta al por menor,"Yarn (other than sewing thread) of synthetic staple fibres, not put up for retail sale",55,"Fibras sintéticas ou artificiais, descontínuas",Fibras sintéticas o artificiales discontinuas,Man-made staple fibres,XI,Matérias têxteis e suas obras,Materias textiles y sus manufacturas,Textiles and textiles articles

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_NCM         13112 non-null  int64
 1   NO_NCM_POR     13112 non-null  object
 2   CO_SH6         13112 non-null  int64
 3   NO_SH6_POR     13112 non-null  object
 4   NO_SH6_ESP     13112 non-null  object
 5   NO_SH6_ING     13112 non-null  object
 6   CO_SH4         13112 non-null  int64
 7   NO_SH4_POR     13112 non-null  object
 8   NO_SH4_ESP     13112 non-null  object
 9   NO_SH4_ING     13112 non-null  object
 10  CO_SH2         13112 non-null  int64
 11  NO_SH2_POR     13112 non-null  object
 12  NO_SH2_ESP     13112 non-null  object
 13  NO_SH2_ING     13112 non-null  object
 14  CO_NCM_SECROM  13112 non-null  object
 15  NO_SEC_POR     13112 non-null  object
 16  NO_SEC_ESP     13112 non-null  object
 17  NO_SEC_ING     13112 non-null  object
dtypes: int64(4), object(14)
memory usage: 1.8+ MB
None
== Sheet "2" ==

         CO_NCM                                                                                                                     NO_NCM_POR CO_CUCI_ITEM                                                                                                                                                                                                                                NO_CUCI_ITEM  CO_CUCI_SUB                                                                                                                                                 NO_CUCI_SUB CO_CUCI_GRUPO                                                                                                                  NO_CUCI_GRUPO  CO_CUCI_DIVISAO                                                                    NO_CUCI_DIVISAO  CO_CUCI_SEC                                                          NO_CUCI_SEC
11038  84839000                                   Rodas dentadas e outros órgãos elementares de transmissão apresentados separadamente; partes         7489                                                                                                                                                                                             Peças, n.e.p., para os objectos do grupo de 748         7489                                                                                                              Outras peças, para os objectos do grupo de 748           748  Veios de transmissão e manivelas, engrenagens, rodas de fricção, volantes, polias, embreagens, elos articulados e suas partes               74  Máquinas em geral e equipamentos industriais, n.e.p., e peças de máquinas, n.e.p.            7                                MAQUINAS E EQUIPAMENTOS DE TRANSPORTE
8824   71081319                                                                      Outras barras, fios, etc, de ouro, para uso não monetário        97101                                                                                                                                               Ouro (incluindo o ouro platinado), não monetário, em formas brutas ou semi-acabadas, ou em pó         9710                                                                                        Ouro, não monetário (excluindo minérios de ouro e seus concentrados)           971                                                           Ouro, não monetário (excluindo minérios de ouro e seus concentrados)               97               Ouro, não monetário (excluindo minérios de ouro e seus concentrados)            9  MERCADORIAS E TRANSACOES NAO ESPECIFICADAS EM OUTRAS PARTES DA CUCI
7546   54075220  Outros tecidos, que contenham pelo menos 85 %, em peso, de filamentos de poliéster texturizados, tintos, com fios de borracha        65315  Tecidos, tramas, e fios de filamentos sintéticos (incluídos os tecidos obtidos a partir de materiais do ítem 651,88), exceto tramas de pelúcia ou chenille. Outros, contendo 85% ou mais, em peso, de filamentos de poliéster texturizados         6531  Tecidos, tramas, e fios de filamentos sintéticos (incluídos os tecidos obtidos a partir de materiais do ítem 651,88), exceto tramas de pelúcia ou chenille           653                           Tecidos, tramas, de matérias têxteis sintéticas ou artificiais (não incluídas as fitas ou especiais)               65      Fios Têxteis, tecidos, artigos confeccionados, n.e.p. e produtos relacionados            6    ARTIGOS MANUFATURADOS, CLASSIFICADOS PRINCIPALMENTE PELO MATERIAL
7889   58031000                                                                                            Tecido de algodão, em ponto de gaze        65494                                                                                                                                                                                                        Gaze, exceto fitas do subgrupo 656.1         6549                                                                                                                                      Outros tecidos, tramas           654                                                                                                           Outras obras têxteis               65      Fios Têxteis, tecidos, artigos confeccionados, n.e.p. e produtos relacionados            6    ARTIGOS MANUFATURADOS, CLASSIFICADOS PRINCIPALMENTE PELO MATERIAL
2836   29093019                                                                                                       Outros éteres aromáticos        51616                                                                                                      Éteres acíclicos, ciclânicos, ciclênicos, cicloterpénicas e aromáticas; seus derivados halogenados, sulfonados, nitrados ou nitrosados         5161         Éteres, peróxidos de álcoois, peróxidos de éteres, epóxidos, acetais e hemiacetais e seus derivados halogenados, sulfonados, nitrados ou nitrosados           516                                                                                             Outros produtos químicos orgânicos               51                                                        Produtos químicos orgânicos            5                             PRODUTOS QUIMICOS E RELACIONADOS, N.E.P.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CO_NCM           13112 non-null  int64
 1   NO_NCM_POR       13112 non-null  object
 2   CO_CUCI_ITEM     13112 non-null  object
 3   NO_CUCI_ITEM     13112 non-null  object
 4   CO_CUCI_SUB      13112 non-null  int64
 5   NO_CUCI_SUB      13112 non-null  object
 6   CO_CUCI_GRUPO    13112 non-null  object
 7   NO_CUCI_GRUPO    13112 non-null  object
 8   CO_CUCI_DIVISAO  13112 non-null  int64
 9   NO_CUCI_DIVISAO  13112 non-null  object
 10  CO_CUCI_SEC      13112 non-null  int64
 11  NO_CUCI_SEC      13112 non-null  object
dtypes: int64(4), object(8)
memory usage: 1.2+ MB
None
== Sheet "3" ==

         CO_NCM                                                                                                            NO_NCM_POR  CO_CGCE_N3                                                                      NO_CGCE_N3                                                 NO_CGCE_N3_ING                                                            NO_CGCE_N3_ESP  CO_CGCE_N2                                   NO_CGCE_N2                               NO_CGCE_N2_ING                                NO_CGCE_N2_ESP  CO_CGCE_N1                NO_CGCE_N1           NO_CGCE_N1_ING           NO_CGCE_N1_ESP
2987   29153951                                                                                                 Acetato de benzestrol         240                                                  Insumos industriais elaborados                                   Elaborated industrial inputs                                           Insumos industriales elaborados          24               Insumos industriais elaborados                 Elaborated industrial inputs               Insumos industriales elaborados           2  BENS INTERMEDIÁRIOS (BI)  INTERMEDIATE GOODS (BI)  BIENES INTERMEDIOS (BI)
606     3069400                                                                   Lagosta norueguesa (Lagostim) (Nephrops norvegicus)         324  Alimentos e bebidas elaborados, destinados principalmente ao consumo doméstico  Prepared foods and beverages, mainly for domestic consumption  Alimentos y bebidas preparadas, principalmente para el consumo doméstico          32  Bens de consumo semiduráveis e não duráveis  Consumer goods semi-durable and non-durable  Bienes de consumo semidurables y no durables           3      BENS DE CONSUMO (BC)      CONSUMER GOODS (BC)   BIENES DE CONSUMO (BC)
12945  95030021                     Bonecos, mesmo vestidos, com mecanismo a corda ou elétrico, que representem somente seres humanos         321                                                    Bens de consumo semiduráveis                                    Semi-durable consumer goods                                            Bienes de consumo semidurables          32  Bens de consumo semiduráveis e não duráveis  Consumer goods semi-durable and non-durable  Bienes de consumo semidurables y no durables           3      BENS DE CONSUMO (BC)      CONSUMER GOODS (BC)   BIENES DE CONSUMO (BC)
9494   81019400                    Tungstênio (volfrâmio) em formas brutas, incluindo as barras simplesmente obtidas por sinterização         240                                                  Insumos industriais elaborados                                   Elaborated industrial inputs                                           Insumos industriales elaborados          24               Insumos industriais elaborados                 Elaborated industrial inputs               Insumos industriales elaborados           2  BENS INTERMEDIÁRIOS (BI)  INTERMEDIATE GOODS (BI)  BIENES INTERMEDIOS (BI)
1491   20051000  Produtos hortícolas homogeneizados, preparados ou conservados, exceto em vinagre ou em ácido acético, não congelados         324  Alimentos e bebidas elaborados, destinados principalmente ao consumo doméstico  Prepared foods and beverages, mainly for domestic consumption  Alimentos y bebidas preparadas, principalmente para el consumo doméstico          32  Bens de consumo semiduráveis e não duráveis  Consumer goods semi-durable and non-durable  Bienes de consumo semidurables y no durables           3      BENS DE CONSUMO (BC)      CONSUMER GOODS (BC)   BIENES DE CONSUMO (BC)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CO_NCM          13112 non-null  int64
 1   NO_NCM_POR      13112 non-null  object
 2   CO_CGCE_N3      13112 non-null  int64
 3   NO_CGCE_N3      13112 non-null  object
 4   NO_CGCE_N3_ING  13112 non-null  object
 5   NO_CGCE_N3_ESP  13112 non-null  object
 6   CO_CGCE_N2      13112 non-null  int64
 7   NO_CGCE_N2      13112 non-null  object
 8   NO_CGCE_N2_ING  13112 non-null  object
 9   NO_CGCE_N2_ESP  13112 non-null  object
 10  CO_CGCE_N1      13112 non-null  int64
 11  NO_CGCE_N1      13112 non-null  object
 12  NO_CGCE_N1_ING  13112 non-null  object
 13  NO_CGCE_N1_ESP  13112 non-null  object
dtypes: int64(4), object(10)
memory usage: 1.4+ MB
None
== Sheet "4" ==

         CO_NCM                                                                     NO_NCM_POR  CO_ISIC_CLASSE                                                                  NO_ISIC_CLASSE                                                                NO_ISIC_CLASSE_ING                                                              NO_ISIC_CLASSE_ESP  CO_ISIC_GRUPO                                                                   NO_ISIC_GRUPO                                                          NO_ISIC_GRUPO_ING                                                               NO_ISIC_GRUPO_ESP  CO_ISIC_DIVISAO                                                           NO_ISIC_DIVISAO                                                           NO_ISIC_DIVISAO_ING                                                       NO_ISIC_DIVISAO_ESP CO_ISIC_SECAO               NO_ISIC_SECAO NO_ISIC_SECAO_ING           NO_ISIC_SECAO_ESP
7625   55095900                                           Outros fios de fibras de poliésteres            1311                                           Preparação e fiação de fibras têxteis                                        Preparation and spinning of textile fibres                                           Preparação e fiação de fibras têxteis            131                                       Fiação, tecelagem e acabamento de têxteis                                Spinning, weaving and finishing of textiles                                       Fiação, tecelagem e acabamento de têxteis               13                                                     Fabricação de têxteis                                                       Manufacture of textiles                                                     Fabricação de têxteis             C  Indústria de Transformação     Manufacturing  Indústria de Transformação
4880   30039022                           Medicamento contendo l-asparaginase, exceto em doses            2100  Fabricação de produtos farmacêuticos, produtos químicos medicinais e botânicos         Manufacture of pharmaceuticals, medicinal chemical and botanical products  Fabricação de produtos farmacêuticos, produtos químicos medicinais e botânicos            210  Fabricação de produtos farmacêuticos, produtos químicos medicinais e botânicos  Manufacture of pharmaceuticals, medicinal chemical and botanical products  Fabricação de produtos farmacêuticos, produtos químicos medicinais e botânicos               21  Fabricação de produtos farmacêuticos básicos e preparações farmacêuticas  Manufacture of basic pharmaceutical products and pharmaceutical preparations  Fabricação de produtos farmacêuticos básicos e preparações farmacêuticas             C  Indústria de Transformação     Manufacturing  Indústria de Transformação
12270  89012000                                                                  Navios-tanque            3011                                    Construção de navios e estruturas flutuantes                                         Building of ships and floating structures                                    Construção de navios e estruturas flutuantes            301                                                   Construção de navios e barcos                                                Building of ships and boats                                                   Construção de navios e barcos               30                             Fabricação de outro equipamento de transporte                                      Manufacture of other transport equipment                             Fabricação de outro equipamento de transporte             C  Indústria de Transformação     Manufacturing  Indústria de Transformação
6437   40119490                   Outros pneus novos, para veículos de construção aro >= 61 cm            2211  Fabricação de pneus e tubos; recauchutagem e reconstrução de pneus de borracha  Manufacture of rubber tyres and tubes; retreading and rebuilding of rubber tyres  Fabricação de pneus e tubos; recauchutagem e reconstrução de pneus de borracha            221                                              Fabricação de produtos de borracha                                             Manufacture of rubber products                                              Fabricação de produtos de borracha               22                            Fabricação de produtos de borracha e plásticos                                   Manufacture of rubber and plastics products                            Fabricação de produtos de borracha e plásticos             C  Indústria de Transformação     Manufacturing  Indústria de Transformação
13089  97030000  Produções originais de arte estatuária ou de escultura, de quaisquer matérias            9000                                    Atividades criativas, artes e entretenimento                                       Creative, arts and entertainment activities                                    Atividades criativas, artes e entretenimento            900                                    Atividades criativas, artes e entretenimento                                Creative, arts and entertainment activities                                    Atividades criativas, artes e entretenimento               90                              Atividades criativas, artes e entretenimento                                   Creative, arts and entertainment activities                              Atividades criativas, artes e entretenimento             D             Outros Produtos    Other products             Outros Produtos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CO_NCM               13112 non-null  int64
 1   NO_NCM_POR           13112 non-null  object
 2   CO_ISIC_CLASSE       13112 non-null  int64
 3   NO_ISIC_CLASSE       13112 non-null  object
 4   NO_ISIC_CLASSE_ING   13112 non-null  object
 5   NO_ISIC_CLASSE_ESP   13112 non-null  object
 6   CO_ISIC_GRUPO        13112 non-null  int64
 7   NO_ISIC_GRUPO        13112 non-null  object
 8   NO_ISIC_GRUPO_ING    13112 non-null  object
 9   NO_ISIC_GRUPO_ESP    13112 non-null  object
 10  CO_ISIC_DIVISAO      13112 non-null  int64
 11  NO_ISIC_DIVISAO      13112 non-null  object
 12  NO_ISIC_DIVISAO_ING  13112 non-null  object
 13  NO_ISIC_DIVISAO_ESP  13112 non-null  object
 14  CO_ISIC_SECAO        13112 non-null  object
 15  NO_ISIC_SECAO        13112 non-null  object
 16  NO_ISIC_SECAO_ING    13112 non-null  object
 17  NO_ISIC_SECAO_ESP    13112 non-null  object
dtypes: int64(4), object(14)
memory usage: 1.8+ MB
None
== Sheet "5" ==

         CO_NCM                                                                                                NO_NCM_POR  CO_SIIT                                                          NO_SIIT
0       1011010                                                                         Cavalos reprodutores de raça pura     9000                                                 PRODUTOS N.C.I.T
6058   39071049                                                         Poliacetais sem carga, em outras formas primárias     2000  PRODUTOS DA INDUSTRIA DE TRANSFORMAÇÃO DE MEDIA-ALTA TECNOLOGIA
4674   29419051                                                        Embonato de espiramicina (pamoato de espiramicina)     1000        PRODUTOS DA INDUSTRIA DE TRANSFORMAÇÃO DE ALTA TECNOLOGIA
2005   28052100                                                                           Cálcio (metal alcalino terroso)     2000  PRODUTOS DA INDUSTRIA DE TRANSFORMAÇÃO DE MEDIA-ALTA TECNOLOGIA
12792  91111000  Caixas de relógios, de metais preciosos ou de metais folheados ou chapeados de metais preciosos (plaquê)     1000        PRODUTOS DA INDUSTRIA DE TRANSFORMAÇÃO DE ALTA TECNOLOGIA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_SIIT     13112 non-null  int64
 3   NO_SIIT     13112 non-null  object
dtypes: int64(2), object(2)
memory usage: 409.9+ KB
None
== Sheet "6" ==

        CO_NCM                                                                              NO_NCM_POR  CO_UNID             NO_UNID SG_UNID
5207  32030013                                                                Morina (matéria corante)       10  QUILOGRAMA LIQUIDO   KGL
9896  84183000  Congeladores (freezers) horizontais tipo arca, de capacidade não superior a 800 litros       11    NUMERO (UNIDADE)   UNID.
2998  29153994                                    Bis(p-acetoxifenil)cicloexilidenometano (ciclofenil)       10  QUILOGRAMA LIQUIDO   KGL
8727  70109120                            Frascos, boiões, vasos,  etc, de vidro, capacidade > 1 litro       10  QUILOGRAMA LIQUIDO   KGL
4645  29413031                                                                             Minociclina       10  QUILOGRAMA LIQUIDO   KGL

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_UNID     13112 non-null  int64
 3   NO_UNID     13112 non-null  object
 4   SG_UNID     13112 non-null  object
dtypes: int64(2), object(3)
memory usage: 512.3+ KB
None
== Sheet "7" ==

        CO_NCM                                                                                                                                                                                                                     NO_NCM_POR  CO_FAT_AGREG                NO_FAT_AGREG            NO_FAT_AGREG_GP
6887  47069300                                                                                                                                                                    Pastas semiquímicas de outras matérias fibrosas celulósicas             2  PRODUTOS SEMIMANUFATURADOS  PRODUTOS INDUSTRIALIZADOS
5580  38081023                                                                                                                                                                             Inseticida à base de monocrotofos ou de dicrotofos             3      PRODUTOS MANUFATURADOS  PRODUTOS INDUSTRIALIZADOS
9201  73145000                                                                                                                                                                                   Chapas e tiras, distendidas, de ferro ou aço             3      PRODUTOS MANUFATURADOS  PRODUTOS INDUSTRIALIZADOS
7193  51012100                                                                                                                                                      Lã de tosquia, desengordurada, não carbonizada, não cardada, não penteada             1            PRODUTOS BASICOS           PRODUTOS BASICOS
7991  60041033  Tecidos de malha de largura superior a 30 cm, que contenham, em peso, 5 % ou mais de fios de elastômeros, mas que não contenham fios de borracha, exceto os da posição 60.01, de fibras sintéticas, de fios de diversas cores             3      PRODUTOS MANUFATURADOS  PRODUTOS INDUSTRIALIZADOS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CO_NCM           13112 non-null  int64
 1   NO_NCM_POR       13112 non-null  object
 2   CO_FAT_AGREG     13112 non-null  int64
 3   NO_FAT_AGREG     13112 non-null  object
 4   NO_FAT_AGREG_GP  13112 non-null  object
dtypes: int64(2), object(3)
memory usage: 512.3+ KB
None
== Sheet "8" ==

         CO_NCM                                                                                                         NO_NCM_POR  CO_PPI                                                   NO_PPI                                               NO_PPI_MIN                                            NO_PPI_ING
2145   28272090                                                                                          Outros cloretos de cálcio    3990                            DEMAIS PRODUTOS MANUFATURADOS                            Demais produtos manufaturados                              OTHER MANUFACTURED GOODS
8734   70111029                                                             Ampolas de vidro, etc, para lâmpadas de incandescência    3990                            DEMAIS PRODUTOS MANUFATURADOS                            Demais produtos manufaturados                              OTHER MANUFACTURED GOODS
12040  86063000  Vagões de descarga automática, exceto os da subposição 8606.10, para transporte de mercadorias sobre vias férreas    3490                   VEICULOS E MATERIAIS PARA VIAS FERREAS                   Veículos e materiais para vias férreas                        VEHICLES AND MATERIALS TRAMWAY
9895   84182900                                                                            Outros refrigeradores do tipo doméstico    3745  REFRIGERADORES,CONGELADORES,APARS.SEMELH.PARTES E PECAS  Refrigeradores,congeladores,apars.semelh.partes e peças  REFRIGERATORS, FREEZERS AND THE LIKE AND SPARE PARTS
4649   29414019                                                                                    Outros ésteres do cloranfenicol    3028                                             ANTIBIOTICOS                                             Antibióticos                                           ANTIBIOTICS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_PPI      13112 non-null  int64
 3   NO_PPI      13112 non-null  object
 4   NO_PPI_MIN  13112 non-null  object
 5   NO_PPI_ING  13112 non-null  object
dtypes: int64(2), object(4)
memory usage: 614.8+ KB
None
== Sheet "9" ==

         CO_NCM                                                        NO_NCM_POR  CO_PPE                                                   NO_PPE                                               NO_PPE_MIN                           NO_PPE_ING
12062  87013000                                              Tratores de lagartas    3460                                                 TRATORES                                                 Tratores                             TRACTORS
12949  95030039    Outros brinquedos que representem animais ou seres não humanos    3070  BRINQUEDOS, JOGOS E ARTIGOS PARA DIVERSAO E SUAS PARTES  Brinquedos, jogos e artigos para diversão e suas partes  TOYS, GAMES AND FUN ITEMS AND PARTS
9006   72171010  Fios de ferro ou aço não ligado, não revestidos, carbono >= 0.6%    3695                          PERFIS E FIOS, DE FERRO OU ACOS                           Perfis e fios, de ferro ou aço   PROFILES AND WIRE OF IRON OR STEEL
9499   81019990                                        Outras obras de tungstênio    3990                            DEMAIS PRODUTOS MANUFATURADOS                            Demais produtos manufaturados             OTHER MANUFACTURED GOODS
9451   78030000                                  Barras, perfis e fios, de chumbo    3990                            DEMAIS PRODUTOS MANUFATURADOS                            Demais produtos manufaturados             OTHER MANUFACTURED GOODS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_NCM      13112 non-null  int64
 1   NO_NCM_POR  13112 non-null  object
 2   CO_PPE      13112 non-null  int64
 3   NO_PPE      13112 non-null  object
 4   NO_PPE_MIN  13112 non-null  object
 5   NO_PPE_ING  13112 non-null  object
dtypes: int64(2), object(4)
memory usage: 614.8+ KB
None
== Sheet "10" ==

         CO_NCM                                                                                                        NO_NCM_POR  CO_EXP_SUBSET                                          NO_EXP_SUBSET_POR                                         NO_EXP_SUBSET_ESP                              NO_EXP_SUBSET_ING  CO_EXP_SET                                         NO_EXP_SET                                           NO_EXP_SET_ESP                                         NO_EXP_SET_ING
2340   28412000                                                                                    Cromatos de zinco ou de chumbo           1401                              Produtos químicos inorgânicos                            Productos químicos inorgánicos                            Inorganic chemicals          14                   PRODUTOS DAS INDUSTRIAS QUIMICAS                                       Productos químicos                      Products of the chemical industry
10756  84714962                                                   Sistema de unidade de memória, para disco magnético rígido, etc            902                                  Computadores e acessórios                                 Computadoras y accesorios                      Computers and accessories           9        MAQUINAS,APARELHOS E INSTRUMENTOS MECANICOS                          Maquinaria y aparatos mecánicos                    Machinery and mechanical appliances
9117   73043920  Tubos revestidos, de diâmetro exterior inferior ou igual a 229 mm, de seção circular, de ferro ou aço não ligado           1507                       Tubos de ferro fundido, ferro ou aço                                Tubos de hierro o de acero              Pipes of cast iron, iron or steel          15                              PRODUTOS METALURGICOS                                   Productos metalúrgicos                                 Metallurgical products
12625  90278014                                                                                         Aparelhos medidores de pH           2600  Instrumentos, aparelhos de ótica, precisão, partes, peças  Instrumentos, instrumentos ópticos, de precisión, piezas  Instruments, optics, precision, parts, pieces          26  INSTRUMENTOS,APARS.DE OTICA,PRECISAO,PARTES,PEÇAS  Instrumentos, instrumentos ópticos, de precisión, pieza  Instruments, optics devices, precision, parts, pieces
802     7099000                                                               Outros produtos hortícolas, frescos ou refrigerados           8099                                            Demais produtos                                           Otros productos                                 Other products          80                                    DEMAIS PRODUTOS                                          Otros productos                                         Other products

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13111 entries, 0 to 13110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CO_NCM             13111 non-null  int64
 1   NO_NCM_POR         13111 non-null  object
 2   CO_EXP_SUBSET      13111 non-null  int64
 3   NO_EXP_SUBSET_POR  13111 non-null  object
 4   NO_EXP_SUBSET_ESP  13111 non-null  object
 5   NO_EXP_SUBSET_ING  13111 non-null  object
 6   CO_EXP_SET         13111 non-null  int64
 7   NO_EXP_SET         13111 non-null  object
 8   NO_EXP_SET_ESP     13111 non-null  object
 9   NO_EXP_SET_ING     13111 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.0+ MB
None
== Sheet "11" ==

     CO_PAIS  CO_PAIS_ISON3 CO_PAIS_ISOA3       NO_PAIS  NO_PAIS_ING    NO_PAIS_ESP
228      748            706           SOM       Somália      Somalia        Somalia
169      521            558           NIC     Nicarágua    Nicaragua      Nicaragua
39       111            100           BGR      Bulgária     Bulgaria       Bulgaria
234      760            728           SSD  Sudão do Sul  South Sudan  Sudán del Sur
94       297            308           GRD       Granada      Grenada        Granada

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_PAIS        281 non-null    int64
 1   CO_PAIS_ISON3  281 non-null    int64
 2   CO_PAIS_ISOA3  281 non-null    object
 3   NO_PAIS        281 non-null    object
 4   NO_PAIS_ING    281 non-null    object
 5   NO_PAIS_ESP    281 non-null    object
dtypes: int64(2), object(4)
memory usage: 13.3+ KB
None
== Sheet "12" ==

     CO_PAIS  CO_BLOCO                  NO_BLOCO                   NO_BLOCO_ING                  NO_BLOCO_ESP
216      603       112                    Europa                         Europe                        Europa
83        43       105  América Central e Caribe  Central America and Caribbean      América Central y Caribe
38       833        51                    África     Africa (minus MIDDLE EAST)  África (menos ORIENTE MEDIO)
256      476        61                   Oceania                        Oceania                       Oceania
248      828        61                   Oceania                        Oceania                       Oceania

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CO_PAIS       322 non-null    int64
 1   CO_BLOCO      322 non-null    int64
 2   NO_BLOCO      322 non-null    object
 3   NO_BLOCO_ING  322 non-null    object
 4   NO_BLOCO_ESP  322 non-null    object
dtypes: int64(2), object(3)
memory usage: 12.7+ KB
None
== Sheet "13" ==

    CO_UF SG_UF             NO_UF         NO_REGIAO
0      11    RO          Rondônia      REGIAO NORTE
4      15    PA              Pará      REGIAO NORTE
14     31    SE           Sergipe   REGIAO NORDESTE
13     27    AL           Alagoas   REGIAO NORDESTE
28     94    CB  Consumo de Bordo  CONSUMO DE BORDO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CO_UF      34 non-null     int64
 1   SG_UF      34 non-null     object
 2   NO_UF      34 non-null     object
 3   NO_REGIAO  34 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB
None
== Sheet "14" ==

      CO_MUN_GEO            NO_MUN        NO_MUN_MIN SG_UF
4851     4212304       PAULO LOPES       Paulo Lopes    SC
2341     2905800            CAMAMU            Camamu    BA
4718     3435903         PARANAPUA         Paranapuã    SP
1404     2210805  SIMPLICIO MENDES  Simplício Mendes    PI
4296     4115002          MARILENA          Marilena    PR

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CO_MUN_GEO  5570 non-null   int64
 1   NO_MUN      5570 non-null   object
 2   NO_MUN_MIN  5570 non-null   object
 3   SG_UF       5570 non-null   object
dtypes: int64(1), object(3)
memory usage: 174.2+ KB
None
== Sheet "15" ==

    CO_VIA                       NO_VIA
3       15          VICINAL FRONTEIRICO
16       9               MEIOS PROPRIOS
11       4                        AEREA
15       8  CONDUTO/REDE DE TRANSMISSAO
13       6                  FERROVIARIA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CO_VIA  17 non-null     int64
 1   NO_VIA  17 non-null     object
dtypes: int64(1), object(1)
memory usage: 400.0+ bytes
None
== Sheet "16" ==

     CO_URF                                               NO_URF
135  920102                                   0920102 - CRICIUMA
193  910602                    0910602 - MARECHAL CANDIDO RONDON
70   610300                       0610300 - GOVERNADOR VALADARES
251  910651                                     0910651 - GUAIRA
66   517801  0517801 - IRF - AEROPORTO INTERNACIONAL DE SALVADOR

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CO_URF  275 non-null    int64
 1   NO_URF  275 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.4+ KB
None
== Sheet "17" ==

        CO_NCM                                                      NO_NCM_POR CO_ISIC_SECAO               NO_ISIC_SECAO CO_CUCI_GRUPO                                                                                  NO_CUCI_GRUPO
45     1059900  Patos, gansos, perus, peruas e pintadas, vivos, de peso >185 g             A                Agropecuária           001                                             Animais vivos, não incluído pescados ou crustáceos
6626  42031000                    Vestuário, de couro natural ou reconstituído             C  Indústria de Transformação           848  Artigos de vestuário e seus acessórios de outros tecidos, ou chapelaria de todos os materiais
8570  68099000         Outras obras de gesso ou de composições à base de gesso             C  Indústria de Transformação           663                                                           Outros artigos de materiais minerais
8049  60063400       Outros tecidos de malha, de fibras sintéticas, estampados             C  Indústria de Transformação           655             Tecidos de malha (incluindo tecidos tubulares de malha, veludos e tecidos abertos)
5560  38030090          Tall oil, mesmo refinado, em outra forma que não bruto             C  Indústria de Transformação           598                                               Outros produtos diversos das indústrias químicas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13112 entries, 0 to 13111
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_NCM         13112 non-null  int64
 1   NO_NCM_POR     13112 non-null  object
 2   CO_ISIC_SECAO  13112 non-null  object
 3   NO_ISIC_SECAO  13112 non-null  object
 4   CO_CUCI_GRUPO  13112 non-null  object
 5   NO_CUCI_GRUPO  13112 non-null  object
dtypes: int64(1), object(5)
memory usage: 614.8+ KB
None